In [1]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [2]:
df['text'].str.len()    #Menampilkan Panjang Kalimat

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [3]:
df['text'].str.split().str.len()   #Menghitung Banyak Kata

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [5]:
df['text'].str.contains('appointment')   #Mencari Keberadaan Kata

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [7]:
df['text'].str.count(r'\d')  #Menghitung Banyak Angka

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [9]:
df['text'].str.findall(r'\d')   #Menampilkan Angka

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [7]:
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [10]:
df['text'].str.replace(r'\w+day\b', 'Hari')

0         Hari: The doctor's appointment is at 2:45pm.
1      Hari: The dentist's appointment is at 11:30 am.
2         Hari: At 7:00pm, there is a basketball game!
3        Hari: Be back home by 11:15 pm at the latest.
4    Hari: Take the train at 08:10 am, arrive at 09...
Name: text, dtype: object

In [11]:
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [14]:
df['text'].str.extract(r'(\d?\d):(\d\d)')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [17]:
time_sentences = ["@virginmedia I'm flying your #fabulous #Seductive skies again!", 
                  "U take all the #stress away from travel http://t.co/ahlXHhKiyn",
                  ]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0  @virginmedia I'm flying your #fabulous #Seduct...
1  U take all the #stress away from travel http:/...

In [20]:
df['text'] = df['text'].str.replace('((www\.[^\s]+)|(https?://[^\s]+))',' ')

In [21]:
df['text']

0    @virginmedia I'm flying your #fabulous #Seduct...
1            U take all the #stress away from travel
Name: text, dtype: object

In [22]:
df['text'] = df['text'].str.replace('(?<=^|(?<=[^a-zA-Z0-9-_.]))@([A-Za-z]+[A-Za-z0-9]+)','')

In [23]:
df['text']

0     I'm flying your #fabulous #Seductive skies ag...
1            U take all the #stress away from travel
Name: text, dtype: object

In [24]:
df['text'] = df['text'].str.replace(r'#([^\s]+)',r'\1')

In [25]:
df['text']

0     I'm flying your fabulous Seductive skies again!
1            U take all the stress away from travel
Name: text, dtype: object