In [1]:
import pandas as pd
import nltk
import numpy as np
from sklearn import metrics
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans

In [2]:
data  = pd.read_csv("british.csv", delimiter=';')

In [3]:
data.head()

,airlines,date_post,text,sentiment
0,british-airways,2018-09-12,| London Heathrow to Dubai. This was the fir...,POSITIVE
1,british-airways,2018-09-11,| Heraklion to Gatwick. Left my luggage behi...,NEGATIVE
2,british-airways,2018-09-10,| Flew Madrid to London Heathrow. The 767 is ...,POSITIVE
3,british-airways,2018-09-10,| London Heathrow to Brindisi. We weren’t ex...,NEGATIVE
4,british-airways,2018-09-08,| I have BA silver membership. This promises ...,NEGATIVE

In [ ]:
data.sentiment.value_counts()

In [ ]:
stopset = set(stopwords.words('english'))   
vektor = TfidfVectorizer(use_idf = True, lowercase = True, max_df=0.8, max_features=200000,min_df=0.2,ngram_range=(1,3), stop_words = stopset)

In [ ]:
Y = data.sentiment

In [ ]:
Y.head()

In [ ]:
X = vektor.fit_transform(data.text)

In [ ]:
km = KMeans(n_clusters=2)

In [ ]:
km.fit(X)

In [ ]:
prediksi = km.predict(X)

In [ ]:
prediksi

In [ ]:
len(prediksi)

In [ ]:
evaluasi = pd.DataFrame({'labels': prediksi, 'target': data['sentiment']})

In [ ]:
cm = pd.crosstab(evaluasi['target'], evaluasi['labels'])

In [ ]:
cm

In [ ]:
tn = cm.iloc[0,0]
tp = cm.iloc[1,1]
fn = cm.iloc[1,0]
fp = cm.iloc[0,1]

In [ ]:
akurasi = ((tn+tp)/(tn+tp+fn+fp))*100

In [ ]:
akurasi